adw-gtk-theme
elephant
elephant-calc
elephant-clipboard
elephant-desktopapplications
elephant-providerlist
elephant-symbols
fastfetch
ghostty
hyprland
hyprlock
hyprpicker
hyprpolkitagent
hyprshot
hyprsunset
matugen
nautilus
nautilus-python
noto-fonts-cjk
noto-fonts-emoji
papirus-icon-theme
starship
stow
swaync
swayosd
swww
ttf-ms-fonts
ttf-noto-nerd
walker
waybar
zen-browser-bin
zsh
