adw-gtk-theme
elephant
elephant-desktopapplications
elephant-providerlist
fastfetch
ghostty
hyprland
hyprlock
hyprpicker
hyprpolkitagent
hyprshot
hyprsunset
matugen
nautilus
nautilus-python
papirus-icon-theme
starship
stow
swaync
swayosd
swww
ttf-noto-nerd
walker
waybar
zsh
