adw-gtk-theme
cpio
darkly-bin
elephant
elephant-calc
elephant-clipboard
elephant-desktopapplications
elephant-providerlist
elephant-symbols
elephant-unicode
fastfetch
fd
frameworkintegration
fzf
ghostty
gnome-keyring
hyprland
hyprlock
hyprpicker
hyprpolkitagent
hyprshot
hyprsunset
jq
less
matugen
meson
nautilus
nautilus-python
noto-fonts-cjk
noto-fonts-emoji
pacman-contrib
papirus-folders
papirus-icon-theme
pastel
qt5ct-kde
qt6ct-kde
starship
stow
swaync
swayosd
swww
ttf-ms-fonts
ttf-noto-nerd
walker
waybar
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland
zen-browser-bin
zsh
zsh-autosuggestions
