@import "colors.css";

@define-color bg            @background;
@define-color module        @surface_container;
@define-color module-hover  @surface_container_high;
@define-color fg            @on_surface;

#waybar {
  font-family: 'NotoSans Nerd Font Propo';
  font-size: 16px;
  font-weight: bold;
  color: @fg;
  background-color: @bg;
}

#clock,
#network {
  padding: 4px 12px;
  margin: 4px;
  border-radius: 99px;
  background-color: @module;
}

#clock:hover {
  background-color: @module-hover;
}

#workspaces {
  padding: 0 8px;
  margin: 4px;
  border-radius: 99px;
  background-color: @module;
}

#workspaces button {
  color: alpha(@fg, 0.5);
  font-size: 10px;

  padding: 4px 2px;
  border: none;
}

#workspaces button:hover {
  /* Remove default styles */
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;

  color: alpha(@fg, 0.75);
}

#workspaces button.visible {
  color: @fg;
}
