@import "colors.css";

:root {
    --cc-bg: @background;

    --noti-bg: mix(@background, @on_background, 0.1);
    --noti-bg-darker: mix(@background, @on_background, 0.05);
    --noti-bg-hover: mix(@background, @on_background, 0.15);
    --noti-bg-active: mix(@background, @on_background, 0.3);

    --noti-close-bg: transparent;
    --noti-close-bg-hover: alpha(@on_background, 0.15);
    --noti-close-bg-active: alpha(@on_background, 0.3);

    --text-color: @on_background;
    --text-color-disabled: alpha(@on_background, 0.6);
    --bg-selected: @primary;

    --notification-group-icon-size: 28px;

    --outline: 1px solid mix(@background, @on_background, 0.05);
    --border: none;
    --border-radius: 20px;
    --border-radius-inner: 12px;

    --font-size-body: 14px;
    --font-size-summary: 14px;
}

* {
    font-family: "NotoSans Nerd Font Propo";
}

.close-button:active {
    background: var(--noti-close-bg-active);
}

.notification-row .notification-background {
    padding: 4px 0;
}

.notification-row .notification-background .notification {
    background: var(--noti-bg);
    border-radius: var(--border-radius-inner);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action {
    padding: 12px;
    border-radius: var(--border-radius-inner);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action:active {
    background: var(--noti-bg-active);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content {
    border-radius: var(--border-radius-inner);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .image {
    margin: 0;
    margin-right: 12px;
    background-color: var(--noti-bg-darker);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-entry {
    border-radius: var(--border-radius-inner);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button {
    background: var(--noti-bg);
    border-radius: var(--border-radius-inner);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button:active {
    background: var(--noti-bg-active);
}

.notification-row
    .notification-background
    .notification
    .notification-alt-actions {
    border-bottom-left-radius: var(--border-radius-inner);
    border-bottom-right-radius: var(--border-radius-inner);
}

.notification-row
    .notification-background
    .notification
    .notification-action
    > button {
    border-radius: var(--border-radius-inner);
}

.notification-group:focus {
    background: none;
}

.notification-group .notification-group-close-button .close-button {
    margin: 12px 8px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
    margin: 4px 0;
}

.notification-group .notification-group-headers .notification-group-header {
    font-size: 1.2rem;
}

.notification-group.collapsed .notification-row .notification {
    background-color: var(--noti-bg);
}

.notification-group.collapsed .notification-row:not(:last-child) .notification {
    background-color: var(--noti-bg-darker);
}

.notification-group.collapsed:hover
    .notification-row:not(:only-child):last-child
    .notification {
    background-color: var(--noti-bg-hover);
}

.notification-group.collapsed:active
    .notification-row:not(:only-child):last-child
    .notification {
    background-color: var(--noti-bg-active);
}

.control-center {
    outline: var(--outline);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.75);
}

.control-center .control-center-list .notification {
    box-shadow: none;
}

.control-center
    .control-center-list
    .notification
    .notification-default-action:active,
.control-center .control-center-list .notification .notification-action:active {
    background-color: var(--noti-bg-active);
}

.floating-notifications .notification {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

/*** Widgets ***/
.widget {
    margin: 16px;
    padding: 0;
    border-radius: var(--border-radius-inner);
}

.widget:not(:last-child) {
    margin-bottom: 0;
}

/* Title widget */
.widget-title > label {
    font-size: 1.2rem;
    font-weight: bold;
}

.widget-title > button {
    border-radius: var(--border-radius-inner);
}

/* DND widget */
.widget-dnd label {
    font-size: 1rem;
    font-weight: bold;
}

.widget-dnd switch {
    border-radius: var(--border-radius-inner);
}

.widget-dnd switch slider {
    border-radius: var(--border-radius-inner);
}

.widget-dnd switch:checked {
    background-color: var(--bg-selected);
}

/* Mpris widget */
.widget-mpris .widget-mpris-player {
    margin: 0;
    box-shadow: none;
    border-radius: var(--border-radius-inner);
}

.widget-mpris .widget-mpris-player .mpris-background {
    transform: scale(1.1);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:active {
    background: var(--noti-bg-active);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
    box-shadow: none;
    border-radius: var(--border-radius-inner);
}
