@import "colors.css";

@define-color bg            @background;
@define-color module        mix(@background, @on_background, 0.1);
@define-color module-hover  mix(@background, @on_background, 0.15);
@define-color fg            @on_background;

#waybar {
    font-family: "NotoSans Nerd Font Propo";
    font-size: 16px;
    font-weight: bold;
    color: @fg;
    background-color: @bg;
}

.module {
    min-height: 32px;
    min-width: 32px;
    border-radius: 99px;
}

#workspaces {
    padding: 0 8px;
    margin: 4px;
    background-color: @module;
}

#workspaces button {
    color: alpha(@fg, 0.5);
    font-size: 8px;
    padding: 0 2px;
    border: none;
    transition: color 0.1s ease;
}

#workspaces button.empty {
    color: alpha(@fg, 0.25);
}

#workspaces button:hover {
    /* Remove default styles */
    box-shadow: none;
    text-shadow: none;
    background: none;

    color: alpha(@fg, 0.75);
}

#workspaces button.visible {
    font-size: 11px;
    color: @fg;
}

#clock {
    margin: 4px;
    padding: 0 12px;
    background-color: @module;

    transition: background linear 0.1s;
}

#clock:hover {
    background-color: @module-hover;
}

.modules-right {
    margin: 4px;
    padding: 0 6px;
    border-radius: 99px;
    background-color: @module;
}

#network,
#pulseaudio,
#battery {
    transition: background linear 0.1s;
}

#network:hover,
#pulseaudio:hover,
#battery:hover {
    background-color: @module-hover;
}
